

<main>
    <div class="album-page">
        <!-- <div class="side-bar">
            <img src="{{side-image}}" alt="{{side-image-name}}">
        </div> -->
        <div class="album-page-content">
                {{> albumCard}}
            <!--<div class="album-cover"> 
                <img src="{{album-cover}}" alt="{{album-name}}">
            </div>
            <div class="tracklist">
                {{album-tracklist}}
            </div> -->
        </div>
    </div>
</main>